:root {
    --tomato: #f03a17;
    --pickles: #13a10e;
    --bun: #eba300;
    --lettuce: #13a10e;
    --cheese: #ffc83d;
    --darker-cheese: #ffba0a;
    --patty: #8e562e;
}
html,body{
    height: 95vh;
    font-family: 'Roboto',sans-serif;
}
body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
h1{
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
    html,
    body {
        height: 80vh;
    }
}

/****************** before and after *********************/
.burger{
    cursor: pointer;
    background-color: transparent;
    width: 4rem;
    padding: 0 0.1rem;
    border: none;
    margin: auto 0;
}
.burger:active > *,
.burger:focus > *,
.burger:hover > * {
    margin-bottom: 0.4rem;
}
/* bun */
.burger:active .bun:first-child,
.burger:focus .bun:first-child,
.burger:hover .bun:first-child {
    margin-bottom: 0;
}
.burger:active .bun:first-child:before,
.burger:focus .bun:first-child:before,
.burger:hover .bun:first-child:before {
    animation: rotate-bun-1 1s infinite linear;
}
.burger:active .bun:first-child:after,
.burger:focus .bun:first-child:after,
.burger:hover .bun:first-child:after {
    animation: rotate-bun-2 1s infinite linear;
}
/* lettuce */
.burger:active .lettuce,
.burger:focus .lettuce,
.burger:hover .lettuce {
    margin-bottom: 0.3rem;
}
.burger:active .lettuce:before,
.burger:focus .lettuce:before,
.burger:hover .lettuce:before,
.burger:active .lettuce:after,
.burger:focus .lettuce:after,
.burger:hover .lettuce:after {
    animation: rotate-lettuce 3s infinite linear;
}
/* tomato */
.burger:active .tomato,
.burger:focus .tomato,
.burger:hover .tomato {
    animation: wiggle 1s infinite linear alternate-reverse;
}
/* pickles */
.burger:active .pickles,
.burger:focus .pickles,
.burger:hover .pickles {
    height: 0.2rem;
}
.burger:active .pickles:before,
.burger:focus .pickles:before,
.burger:hover .pickles:before {
    animation: switch-pickles-1 2s infinite linear alternate;
}
.burger:active .pickles:after,
.burger:focus .pickles:after,
.burger:hover .pickles:after {
    animation: switch-pickles-2 2s infinite linear alternate;
}
/* cheese */
.burger:active .cheese,
.burger:focus .cheese,
.burger:hover .cheese {
    padding-bottom: 0.8rem;
}
.burger:active .cheese span:before,
.burger:focus .cheese span:before,
.burger:hover .cheese span:before {
    border-top-width: 0.8rem;
    border-left-width: 0.8rem;
    border-right-width: 0.8rem;
    animation: rotate-cheese-1 2s infinite linear;
}
.burger:active .cheese span:after,
.burger:focus .cheese span:after,
.burger:hover .cheese span:after {
    animation: rotate-cheese-2 2s infinite linear;
}
/* patty */
.burger:active .patty,
.burger:focus .patty,
.burger:hover .patty {
    animation: wiggle 1s infinite linear alternate;
}
.burger .bun,
.burger .lettuce,
.burger .tomato,
.burger .pickles,
.burger .cheese,
.burger .patty {
    display: block;
    transition: margin 0.2s ease-out;
}
/*************** styling *****************/

.burger .bun {
    background-color: #eba300;
}
/* top bun */
.burger .bun:first-child {
    height: 1.6rem;
    border-radius: 2rem 2rem 0 0;
    position: relative;
}
.burger .bun:first-child:before,
.burger .bun:first-child:after {
    display: block;
    content: "";
    background-image: radial-gradient(
        #ffc83d 0%,
        #ffc83d 10%,
        transparent 20%,
        transparent 100%
    );
    background-size: 1rem 1rem;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    right: 0.1rem;
    bottom: 0.1rem;
}
.burger .bun:first-child:after {
    background-position: 0.5rem 0.5rem;
}
/* bottom bun */
.burger .bun:last-child {
    height: 0.6rem;
    border-radius: 0.05rem 0.05rem 0.6rem 0.6rem;
}
/* lettuce */
.burger .lettuce {
    height: 0.4rem;
    border-radius: 0.4rem;
    margin: -0.2rem;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.burger .lettuce:before,
.burger .lettuce:after {
    display: block;
    content: "";
    
    height: 0.2rem;
    width: 200%;
/* content is making this lettuce shape*/
    background-image: radial-gradient(
        transparent 0%,
        transparent 25%,
        #13a10e 25%,
        #13a10e 70%,
        transparent 75%,
        transparent 60%
    );
    background-size: 0.6rem 0.6rem;
    position: absolute;
    left: -100%;
    right: 0;
}
.burger .lettuce:before {
    background-position: left top;
    top: 0;
}
.burger .lettuce:after {
    background-position: left 0.3rem bottom;
    bottom: 0;
}
/* tomato */
.burger .tomato {
    background-color: var(--tomato);
    height: 0.4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius:0.15rem ;
}
/* pickles */
.burger .pickles {
    display: flex;
    justify-content: center;
    height: 0;
}
.burger .pickles:before,
.burger .pickles:after {
    display: block;
    content: "";
    background-color: var(--pickles);
    width: 1.2rem;
    border-radius:0.1rem ;
    height: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
/* cheese */
.burger .cheese {
    overflow: hidden;
    padding-bottom: 0.5rem;
    border-radius: 0.2rem 0.2rem 0 0;
    margin-bottom: -0.5rem;
}
.burger .cheese span {
    display: block;
    background-color: var(--cheese);
    height: 0.3rem;
    position: relative;
}
.burger .cheese span:before,
.burger .cheese span:after {
    display: block;
    content: "";
    transition: all 0.2s ease;
}
.burger .cheese span:before {
    border-top: 0.4rem solid var(--cheese);
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    position: absolute;
    top: 100%;
    left: 33.3333333333%;
    z-index: 99;
    transform: translateX(-50%);
}
.burger .cheese span:after {
    border-top: 0.4rem solid var(--darker-cheese);
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    position: absolute;
    top: 100%;
    left: 66.6666666667%;
    transform: translateX(-50%);
}
/* patty */
.burger .patty {
    background-color: var(--patty);
    height: 0.6rem;
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    border-radius: 0.6rem;
    position: relative;
    z-index: 9;
}
/********** keyframes ************/
@keyframes rotate-bun-1 {
    0% {
        background-position-x: 0rem;
    }
    50% {
        background-position-x: 0.5rem;
    }
    100% {
        background-position-x: 1rem;
    }
}
@keyframes rotate-bun-2 {
    0% {
        background-position-x: 0.5rem;
    }
    50% {
        background-position-x: 1rem;
    }
    100% {
        background-position-x: 1.5rem;
    }
}
@keyframes rotate-lettuce {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
@keyframes switch-pickles-1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%) translateX(0.4rem);
    }
}
@keyframes switch-pickles-2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%) translateX(-0.4rem);
    }
}
@keyframes rotate-cheese-1 {
    0% {
        left: 33.3333333333%;
        transform: translateX(-50%);
    }
    33.333% {
        left: 0;
        transform: translateX(-100%);
    }
    33.334% {
        left: 100%;
        transform: translateX(100%);
    }
}
@keyframes rotate-cheese-2 {
    0% {
        left: 66.6666666667%;
        transform: translateX(-50%);
    }
    33.333% {
        left: 100%;
        transform: translateX(0);
    }
    33.334% {
        left: 0;
        transform: translateX(-100%);
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(4deg);
    }
}

